<!-- Cabecalho principal  -->
<%- include('../partials/header') %>

<!-- Conteudo do index  -->
<main class="container text-center">
    <h1> LISTA DE PRODUTOS </h1>
    <a href="produtos/cadastrar">
    <button class="btn btn-lg btn-primary">
    <i class="bi bi-plus-circle"></i>
    cadastrar
    </button>
    </a>
    <div class="d-flex flex-row flex-wrap gap-3">
        <%  if (produtos && produtos.length > 0 ) { %>
         <!-- usando a funcao foreach para percorrer o array de produtos   -->
            <% produtos.forEach((produto) => { %>
<div class="card " style="width: 18rem;" <%= produto.id %>>
    
  <img src="<%= produto.url %>" class="card-img-top" height="250" alt="...">
  <div class="card-body">
 
                   
                   <p>Nome: <%= produto.nome %></p>
                   <p>Preço: <%= produto.preco %></p>
                   <p>Categoria: <%= produto.categoria %></p>
                   <p>Descrição: <%= produto.descricao %></p>
                   <p>Quantidade: <%= produto.quantidade %></p>
                   
                   
                     <a href="/produtos/<%= produto.id %>">
                        <button class="btn btn-sm btn-warning me-2">
                            <i class="bi bi-pencil-square"></i>
                            editar
                            </button>
                            </a>
                                                                               <a href="#">
                        <button class="btn btn-sm btn-danger"
                        onclick="confirmaExclusao('<%= produto.produto%>','<%= produto.id %>')"
                        >
                            <i class="bi bi-trash3"></i>
                            excluir
                        </button>
                    </a>
           </div> 
           </div>    
           <% }) %>
           
       
    

    <% } else { %>
        <!-- mostra uma mensagem, caso não tenha nenhum usuario cadastrado -->
        <div class="alert alet-warning text-center mt-5">
            nenhum usuario cadastrado no momento.
        </div>
        <% } %>
  
    
 



























       <%  if (produtos && produtos.length > 0 ) { %>
     <table class="table table-striped table-hover align-middle mt-5 ">
        <!-- cabecalho da tabela -->
        <thead class="table-dark">
            <tr class="text-center">
                <th scope="col"> ID</th>
                <th  scope="col"> Nome</th>
                <th  scope="col">Descrição</th>
                <th  scope="col">preco</th>
                <th  scope="col">Quantidade</th>
                 <th  scope="col">Categoria</th>
                  <th  scope="col">Ações</th>
                  
            </tr>
        </thead>
        <!-- corpo da tabela -->
        <tbody>
            <!-- usando a funcao foreach para percorrer o array de usuarios   -->
            <% produtos.forEach((produto) => { %>
                <tr>
                     <td><%=produto.id%></td>
                     <td><%=produto.nome%></td>
                    <td><%=produto.descricao%></td>
                    <td><%=produto.preco %></td>
                    <td><%=produto.quantidade %></td>
                    <td><%=produto.categoria %></td>
            
                    <td>
                     <a href="/produtos/<%= produto.id %>">
                        <button class="btn btn-sm btn-warning me-2">
                            <i class="bi bi-pencil-square"></i>
                            editar
                            </button>
                            </a>
                                                                               <a href="#">
                        <button class="btn btn-sm btn-danger"
                        onclick="confirmaExclusao('<%= produto.produto%>','<%= produto.id %>')"
                        >
                            <i class="bi bi-trash3"></i>
                            excluir
                        </button>
                    </a>
                </td>
                </tr>
           <% }) %>
        </tbody>
     </table>

    <% } else { %>
        <!-- mostra uma mensagem, caso não tenha nenhum usuario cadastrado -->
        <div class="alert alet-warning text-center mt-5">
            nenhum produto cadastrado no momento.
        </div>
        <% } %>

        <!-- ciaçao do script para funçao de deletar -->
        <script>
            function confirmaExclusao(nomeproduto, id){
                if(confirm(`Deseja realmnte excluir o produto${nomeproduto}`)){
                window.location.href = `/produtos/deletar/${id}`
                 }
            }

        </script>
</main>

<!-- Rodape de todas as páginas  -->
<%- include('../partials/footer') %>